<table class="table table-striped">
    <thead>
        <tr>
            <th>Emoji Set</th>
            <th>Category</th>
            <th>License/Attribution</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://mutant.tech">Mutant Standard</a></td>
            <td>Mutant Standard</td>
            <td><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0 International License</a>
            </td>
        </tr>
        <tr>
            <td><a href="https://blobs.gg">Blob</a></td>
            <td>Blob</td>
            <td><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></td>
        </tr>
        <tr>
            <td><a href="https://heatherhorns.com/emoji/">Blobhaj</a></td>
            <td>Blobhaj</td>
            <td><a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></td>
        </tr>
        <tr>
            <td><a href="https://volpeon.ink/projects/emojis/blobfox/">Blobfox</a></td>
            <td>Blobfox</td>
            <td><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></td>
        </tr>
        <tr>
            <td><a href="https://volpeon.ink/projects/emojis/drgn/">Drgn</a></td>
            <td>Drgn</td>
            <td><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></td>
        </tr>
        <tr>
            <td><a href="https://volpeon.ink/projects/emojis/gphn/">Gphn</a></td>
            <td>Gphn</td>
            <td><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></td>
        </tr>
        <tr>
            <td><a href="https://volpeon.ink/projects/emojis/raccoon/">Raccoon</a></td>
            <td>Raccoon</td>
            <td><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></td>
        </tr>
        <tr>
            <td><a href="https://volpeon.ink/projects/emojis/fox/">Fox</a></td>
            <td>Fox</td>
            <td><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></td>
        </tr>
        <tr>
            <td><a href="https://volpeon.ink/projects/emojis/vlpn/">Vlpn</a></td>
            <td>Vlpn</td>
            <td><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></td>
        </tr>
        <tr>
            <td><a href="https://volpeon.ink/projects/emojis/bunhd/">BunHD</a></td>
            <td>BunHD</td>
            <td><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></td>
        </tr>
        <tr>
            <td><a href="https://emoji.gg/pack/7956-shibas-pack">Shiba</a></td>
            <td>Shiba</td>
            <td><a href="https://emoji.gg/licenses">emoji.gg Basic License</a></td>
        </tr>
        <tr>
            <td><a href="https://git.gay/moonrabbits/neodog/releases">Neodog</a></td>
            <td>Neodog</td>
            <td><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></td>
        </tr>
        <tr>
            <td><a href="https://volpeon.ink/emojis/neofox/">Neofox</a></td>
            <td>Neofox</td>
            <td><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></td>
        </tr>
        <tr>
            <td><a href="https://volpeon.ink/emojis/neocat/">Neocat</a></td>
            <td>Neocat</td>
            <td><a href=" https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></td>
        </tr>
        <tr>
            <td><a href="https://volpeon.ink/emojis/floof/">Floof</a></td>
            <td>Floof</td>
            <td><a href=" https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></td>
        </tr>
        <tr>
            <td><a href="https://volpeon.ink/emojis/wvrn/">Wvrn</a></td>
            <td>Wvrn</td>
            <td><a href=" https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></td>
        </tr>
    </tbody>
</table>