<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-end">Emoji</th>
            <th>Description</th>
            <th>Modifier</th>
            <th>Emoji Shortcode</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_human.webp` }}" alt=":ms_hand_human:" width="20px" height="20px">
            </td>
            <td>Default</td>
            <td>None</td>
            <td><code>:ms_hand_human:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_human_h5.webp` }}" alt=":ms_hand_human_h5:" width="20px"
                    height="20px">
            </td>
            <td>Fitzpatrick I-II</td>
            <td><code>h5</code></td>
            <td><code>:ms_hand_human_h5:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_human_h4.webp` }}" alt=":ms_hand_human_h4:" width="20px"
                    height="20px">
            </td>
            <td>Fitzpatrick III</td>
            <td><code>h4</code></td>
            <td><code>:ms_hand_human_h4:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_human_h3.webp` }}" alt=":ms_hand_human_h3:" width="20px"
                    height="20px">
            </td>
            <td>Fitzpatrick IV</td>
            <td><code>h3</code></td>
            <td><code>:ms_hand_human_h3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_human_h2.webp` }}" alt=":ms_hand_human_h2:" width="20px"
                    height="20px">
            </td>
            <td>Fitzpatrick V</td>
            <td><code>h2</code></td>
            <td><code>:ms_hand_human_h2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_human_h1.webp` }}" alt=":ms_hand_human_h1:" width="20px"
                    height="20px">
            </td>
            <td>Fitzpatrick VI</td>
            <td><code>h1</code></td>
            <td><code>:ms_hand_human_h1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_paw.webp` }}" alt=":ms_hand_paw:" width="20px" height="20px">
            </td>
            <td>Default</td>
            <td>None</td>
            <td><code>:ms_hand_paw:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_paw_fe1.webp` }}" alt=":ms_hand_paw_fe1:" width="20px" height="20px">
            </td>
            <td>Brown (fur)</td>
            <td><code>fe1</code></td>
            <td><code>:ms_hand_paw_fe1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_paw_ft1.webp` }}" alt=":ms_hand_paw_ft1:" width="20px" height="20px">
            </td>
            <td>Tan (fur)</td>
            <td><code>ft1</code></td>
            <td><code>:ms_hand_paw_ft1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_paw_fk1.webp` }}" alt=":ms_hand_paw_fk1:" width="20px" height="20px">
            </td>
            <td>White (fur)</td>
            <td><code>fk1</code></td>
            <td><code>:ms_hand_paw_fk1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw.webp` }}" alt=":ms_hand_claw:" width="20px" height="20px">
            </td>
            <td>Default</td>
            <td>None</td>
            <td><code>:ms_hand_claw:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_r1.webp` }}" alt=":ms_hand_claw_r1:" width="20px" height="20px">
            </td>
            <td>Dark Red</td>
            <td><code>r1</code></td>
            <td><code>:ms_hand_claw_r1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_r2.webp` }}" alt=":ms_hand_claw_r2:" width="20px" height="20px">
            </td>
            <td>Red</td>
            <td><code>r2</code></td>
            <td><code>:ms_hand_claw_r2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_r3.webp` }}" alt=":ms_hand_claw_r3:" width="20px" height="20px">
            </td>
            <td>Light Red</td>
            <td><code>r3</code></td>
            <td><code>:ms_hand_claw_r3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_d1.webp` }}" alt=":ms_hand_claw_d1:" width="20px" height="20px">
            </td>
            <td>Dark Red-orange</td>
            <td><code>d1</code></td>
            <td><code>:ms_hand_claw_d1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_d2.webp` }}" alt=":ms_hand_claw_d2:" width="20px" height="20px">
            </td>
            <td>Red-orange</td>
            <td><code>d2</code></td>
            <td><code>:ms_hand_claw_d2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_d3.webp` }}" alt=":ms_hand_claw_d3:" width="20px" height="20px">
            </td>
            <td>Light Red-orange</td>
            <td><code>d3</code></td>
            <td><code>:ms_hand_claw_d3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_o1.webp` }}" alt=":ms_hand_claw_o1:" width="20px" height="20px">
            </td>
            <td>Dark Orange</td>
            <td><code>o1</code></td>
            <td><code>:ms_hand_claw_o1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_o2.webp` }}" alt=":ms_hand_claw_o2:" width="20px" height="20px">
            </td>
            <td>Orange</td>
            <td><code>o2</code></td>
            <td><code>:ms_hand_claw_o2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_o3.webp` }}" alt=":ms_hand_claw_o3:" width="20px" height="20px">
            </td>
            <td>Light Orange</td>
            <td><code>o3</code></td>
            <td><code>:ms_hand_claw_o3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_y1.webp` }}" alt=":ms_hand_claw_y1:" width="20px" height="20px">
            </td>
            <td>Dark Yellow</td>
            <td><code>y1</code></td>
            <td><code>:ms_hand_claw_y1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_y2.webp` }}" alt=":ms_hand_claw_y2:" width="20px" height="20px">
            </td>
            <td>Yellow</td>
            <td><code>y2</code></td>
            <td><code>:ms_hand_claw_y2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_y3.webp` }}" alt=":ms_hand_claw_y3:" width="20px" height="20px">
            </td>
            <td>Light Yellow</td>
            <td><code>y3</code></td>
            <td><code>:ms_hand_claw_y3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_l1.webp` }}" alt=":ms_hand_claw_l1:" width="20px" height="20px">
            </td>
            <td>Dark Yellow-green</td>
            <td><code>l1</code></td>
            <td><code>:ms_hand_claw_l1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_l2.webp` }}" alt=":ms_hand_claw_l2:" width="20px" height="20px">
            </td>
            <td>Yellow-green</td>
            <td><code>l2</code></td>
            <td><code>:ms_hand_claw_l2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_l3.webp` }}" alt=":ms_hand_claw_l3:" width="20px" height="20px">
            </td>
            <td>Light yellow-green</td>
            <td><code>l3</code></td>
            <td><code>:ms_hand_claw_l3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_g1.webp` }}" alt=":ms_hand_claw_g1:" width="20px" height="20px">
            </td>
            <td>Dark Green</td>
            <td><code>g1</code></td>
            <td><code>:ms_hand_claw_g1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_g2.webp` }}" alt=":ms_hand_claw_g2:" width="20px" height="20px">
            </td>
            <td>Green</td>
            <td><code>g2</code></td>
            <td><code>:ms_hand_claw_g2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_g3.webp` }}" alt=":ms_hand_claw_g3:" width="20px" height="20px">
            </td>
            <td>Light Green</td>
            <td><code>g3</code></td>
            <td><code>:ms_hand_claw_g3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_t1.webp` }}" alt=":ms_hand_claw_t1:" width="20px" height="20px">
            </td>
            <td>Dark Teal</td>
            <td><code>t1</code></td>
            <td><code>:ms_hand_claw_t1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_t2.webp` }}" alt=":ms_hand_claw_t2:" width="20px" height="20px">
            </td>
            <td>Teal</td>
            <td><code>t2</code></td>
            <td><code>:ms_hand_claw_t2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_t3.webp` }}" alt=":ms_hand_claw_t3:" width="20px" height="20px">
            </td>
            <td>Light Teal</td>
            <td><code>t3</code></td>
            <td><code>:ms_hand_claw_t3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_c1.webp` }}" alt=":ms_hand_claw_c1:" width="20px" height="20px">
            </td>
            <td>Dark Cyan</td>
            <td><code>c1</code></td>
            <td><code>:ms_hand_claw_c1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_c2.webp` }}" alt=":ms_hand_claw_c2:" width="20px" height="20px">
            </td>
            <td>Cyan</td>
            <td><code>c2</code></td>
            <td><code>:ms_hand_claw_c2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_c3.webp` }}" alt=":ms_hand_claw_c3:" width="20px" height="20px">
            </td>
            <td>Light Cyan</td>
            <td><code>c3</code></td>
            <td><code>:ms_hand_claw_c3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_s1.webp` }}" alt=":ms_hand_claw_s1:" width="20px" height="20px">
            </td>
            <td>Dark Sky blue</td>
            <td><code>s1</code></td>
            <td><code>:ms_hand_claw_s1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_s2.webp` }}" alt=":ms_hand_claw_s2:" width="20px" height="20px">
            </td>
            <td>Sky blue</td>
            <td><code>s2</code></td>
            <td><code>:ms_hand_claw_s2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_s3.webp` }}" alt=":ms_hand_claw_s3:" width="20px" height="20px">
            </td>
            <td>Light Sky blue</td>
            <td><code>s3</code></td>
            <td><code>:ms_hand_claw_s3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_b1.webp` }}" alt=":ms_hand_claw_b1:" width="20px" height="20px">
            </td>
            <td>Dark Blue</td>
            <td><code>b1</code></td>
            <td><code>:ms_hand_claw_b1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_b2.webp` }}" alt=":ms_hand_claw_b2:" width="20px" height="20px">
            </td>
            <td>Blue</td>
            <td><code>b2</code></td>
            <td><code>:ms_hand_claw_b2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_b3.webp` }}" alt=":ms_hand_claw_b3:" width="20px" height="20px">
            </td>
            <td>Light Blue</td>
            <td><code>b3</code></td>
            <td><code>:ms_hand_claw_b3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_v1.webp` }}" alt=":ms_hand_claw_v1:" width="20px" height="20px">
            </td>
            <td>Dark Violet</td>
            <td><code>v1</code></td>
            <td><code>:ms_hand_claw_v1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_v2.webp` }}" alt=":ms_hand_claw_v2:" width="20px" height="20px">
            </td>
            <td>Violet</td>
            <td><code>v2</code></td>
            <td><code>:ms_hand_claw_v2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_v3.webp` }}" alt=":ms_hand_claw_v3:" width="20px" height="20px">
            </td>
            <td>Light Violet</td>
            <td><code>v3</code></td>
            <td><code>:ms_hand_claw_v3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_m1.webp` }}" alt=":ms_hand_claw_m1:" width="20px" height="20px">
            </td>
            <td>Dark Magenta</td>
            <td><code>m1</code></td>
            <td><code>:ms_hand_claw_m1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_m2.webp` }}" alt=":ms_hand_claw_m2:" width="20px" height="20px">
            </td>
            <td>Magenta</td>
            <td><code>m2</code></td>
            <td><code>:ms_hand_claw_m2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_m3.webp` }}" alt=":ms_hand_claw_m3:" width="20px" height="20px">
            </td>
            <td>Light Magenta</td>
            <td><code>m3</code></td>
            <td><code>:ms_hand_claw_m3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_p1.webp` }}" alt=":ms_hand_claw_p1:" width="20px" height="20px">
            </td>
            <td>Dark Pink</td>
            <td><code>p1</code></td>
            <td><code>:ms_hand_claw_p1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_p2.webp` }}" alt=":ms_hand_claw_p2:" width="20px" height="20px">
            </td>
            <td>Pink</td>
            <td><code>p2</code></td>
            <td><code>:ms_hand_claw_p2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_p3.webp` }}" alt=":ms_hand_claw_p3:" width="20px" height="20px">
            </td>
            <td>Light Pink</td>
            <td><code>p3</code></td>
            <td><code>:ms_hand_claw_p3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_e1.webp` }}" alt=":ms_hand_claw_e1:" width="20px" height="20px">
            </td>
            <td>Dark Brown</td>
            <td><code>e1</code></td>
            <td><code>:ms_hand_claw_e1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_e2.webp` }}" alt=":ms_hand_claw_e2:" width="20px" height="20px">
            </td>
            <td>Brown</td>
            <td><code>e2</code></td>
            <td><code>:ms_hand_claw_e2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_e3.webp` }}" alt=":ms_hand_claw_e3:" width="20px" height="20px">
            </td>
            <td>Light Brown</td>
            <td><code>e3</code></td>
            <td><code>:ms_hand_claw_e3:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_k1.webp` }}" alt=":ms_hand_claw_k1:" width="20px" height="20px">
            </td>
            <td>Dark Gray</td>
            <td><code>k1</code></td>
            <td><code>:ms_hand_claw_k1:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_k2.webp` }}" alt=":ms_hand_claw_k2:" width="20px" height="20px">
            </td>
            <td>Gray</td>
            <td><code>k2</code></td>
            <td><code>:ms_hand_claw_k2:</code></td>
        </tr>
        <tr>
            <td class="text-end">
                <img src="{{ relURL `emoji/ms_hand_claw_k3.webp` }}" alt=":ms_hand_claw_k3:" width="20px" height="20px">
            </td>
            <td>Light Gray</td>
            <td><code>k3</code></td>
            <td><code>:ms_hand_claw_k3:</code></td>
        </tr>
    </tbody>
</table>
